node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key

node_modules/**/*
.expo/*
__generated__
npm-debug.*

*.mobileprovision
*.orig.*
web-build/
node_modules/
assets/
.expo-shared/
jspm_packages/
.expo/
.env
.sass-cache
.lock-wscript

npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision/
.expo/*
npm-debug.*
*.orig.*
web-build/
package-lock.json/
ReactBasics/package-lock.json/
.env
node_modules
*.log
.nvm
/bots/node_modules/
package-lock.json
node_modules/
npm-debug.log
yarn-error.log
yarn.lock 
app.json
babel.config.js
.expo-shared
.expo
MOBILE-EXERCISES/package-lock.json
assets

# macOS
.DS_Store
